<!DOCTYPE HTML>
<html>
<style type='text/css'>
    input {
        width: 98%;
        overflow-x: visible;
        overflow-y: visible;
    }
</style>

<body>
    <form method="GET" action="/test">
    <table border=1>
        <tr>
            <td colspan=11>
                <input type="text" name="name" value="123" />
            </td>
        </tr>
        <tr>
            <td rowspan=3>
                <input type="text" name="name" value="" />
            </td>
            <td colspan=4>
                <input type="text" name="name" value="" />
            </td>
            <td colspan=6>
                <textarea type="text" name="123"  >123&#13;&#10;123
                </textarea>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <input type="text" name="name" value="" />
            </td>
            <td colspan=2>
                <input type="text" name="name" value="" />
            </td>
            <td colspan=2>
                <input type="text" name="name" value="" />
            </td>
            <td colspan=2>
                <input type="text" name="name" value="" />
            </td>
            <td colspan=2>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
        </tr>
    </table>
    <input type="submit" value="提交"> </body>
    </form>
</html>